.row1 {
    padding: 0vw 5vw;
  
    display: -ms-grid;
  
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  
  .time-date {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 1vw;
  
    width: 30vw;
    display: -ms-grid;
    display: grid;
    place-items: center;
    padding: 1vw 0;
    gap: 2vw;
  }
  
  .time-date h2 {
    font-size: 3rem;
  }
  
  .val {
    text-align: center;
  }
  .time-date .val h1 {
    font-size: 4rem;
  }
  .time {
    font-weight: bolder;
  }
  .date {
    font-size: 1.2rem;
  }
  
  .weather-details {
    width: 50vw;
  
    -webkit-box-shadow: 12px 11px 15px 2px #000000;
  
            box-shadow: 12px 11px 15px 2px #000000;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 1vw;
    color: white;
    padding: 1.2vw 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .degree {
    width: 10vw;
  }
  
  .degree h1 {
    font-size: 5rem;
  }
  
  .degree h3 {
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  :is(.sunrise, .sunset) img {
    width: 3vw;
  }
  :is(.sunrise, .sunset) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  
    gap: 1vw;
  }
  
  .sun p {
    font-size: 1.1rem;
  }
  .sun h6 {
    font-size: 1rem;
  }
  
  .sunrise {
    margin: 1.1vw 0;
  }
  
  .icon {
    text-align: center;
  }
  
  .icon img {
    width: 12vw;
    height: 12vw;
  }
  
  .icon p {
    font-size: 3rem;
    font-weight: 600;
  }
  
  .infor {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4vw 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2vw;
    grid-column-gap: 4vw;
  }
  
  .gap p {
    padding: 0.3vw 0;
    font-size: 1.1rem;
  
    font-weight: 700;
  }
  .size {
    font-size: 2.5rem;
  }
  
  @media screen and (max-width: 1024px) {
    .row1 {
   
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
      grid-row-gap: 4vw;
    }
    .time-date {
      padding: 3vw 0;
    }
  
    .weather-details {
      width: 80vw;
      padding: 2vw;
    }
    .degree {
      width: 20vw;
    }
    :is(.sunrise, .sunset) img {
      width: 5vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .weather-details {
      width: 100%;
    }
    :is(.sunrise, .sunset) img {
      width: 6vw;
    }
    .time-date {
      width: 50%;
      padding: 5vw 0;
    }
  }
  @media screen and (max-width: 630px) {
    .row1 {
      margin: 8vw 0;
    }
  }
  @media screen and (max-width: 540px) {
    .time-date {
      width: 60%;
    }
    .weather-details {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .degree {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 2vw;
    }
    .icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 15vw;
    }
    .icon img {
      width: 25vw;
      height: 25vw;
    }
    .infor {
      grid-column-gap: 20vw;
      grid-row-gap: 10vw;
      margin: 2vw;
    }
    .sunnn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 4vw;
      /* align-items: center; */
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    :is(.sunrise, .sunset) {
      padding: 2vw;
    }
    :is(.sunrise, .sunset) img {
      width: 15vw;
    }
  }
  
  @media screen and (max-width: 431px) {
    .row1 {
      margin: 30vw 0;
    }
    .time-date {
      display: none;
    }
    .icon img {
      width: 30vw;
      height: 30vw;
    }
  
    .degree {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 5vw;
      text-align: center;
    }
    .sunnn {
      text-align: center;
    }
  }
  
  @media screen and (max-width: 320px) {
    .ssss h1 {
      font-size: 3rem;
    }
  }
  @media screen and (max-width: 280px) {
    .ssss h1 {
      font-size: 2.5rem;
    }
  }